
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Permanent+Marker&display=swap');


.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

button:focus, a:focus, Link:focus {
  outline: none; /* Remove focus outline */
  -webkit-tap-highlight-color: transparent; /* Disable tap highlight color for webkit browsers */
}

:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent; /* Disable tap highlight color for webkit browsers */
}

@layer base {
  body {
    @apply leading-relaxed;
  }
  .page {
    @apply overflow-hidden w-full h-screen ;
  }
  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }
  p {
    @apply leading-[1.8] text-white/60 font-light;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }

}

/* Swiper styles */


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #272525;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
}

.swiper-pagination-bullet {
  color: #000000;
  opacity: 1;
  background-color: rgb(201, 19, 19);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #ff0062;
}